* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #7C6A0A;
  background-color: #FFEFE7;
}

nav {
  width: 100%;
  height: 135px;
  justify-content: center;
  align-items: center;
}
nav p {
  font-size: 1.7rem;
  font-weight: 400;
  padding-left: 45px;
}
nav .icons {
  padding-right: 30px;
}
nav .icons button {
  cursor: pointer;
  background: none;
  border: none;
  align-items: center;
  gap: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.main-section {
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
}
.main-section .info-section {
  margin-top: 10px;
  color: #7C6A0A;
}
.main-section .info-section > * {
  margin: 20px 0;
}
.main-section .info-section .main-section__title {
  margin-top: 50px;
  font-size: 2.6rem;
  font-weight: 600;
}
.main-section .info-section p {
  font-size: 1.4rem;
  margin-top: 20px;
  max-width: 500px;
}
.main-section .image-section img {
  width: 300px;
  border-radius: 8px;
  margin-left: 30px;
}
.main-section .main-section__conocermas {
  background-color: #FA9500;
  border: 0;
  margin: 25px 0;
  border-radius: 15px;
  padding: 8px 25px;
  color: white;
}

.titles-h2, .titles-h2-2 {
  margin: 50px 0 0px 70px;
  font-weight: 400;
  font-size: 40px;
}

.personal-care, .home-decor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.personal-care .product-card, .home-decor .product-card {
  position: relative;
  margin-top: 50px;
  background-color: #FFDAC6;
  border-radius: 8px;
  width: 324px;
  height: 502px;
}
.personal-care .product-card .icon-favorite, .home-decor .product-card .icon-favorite {
  position: absolute;
  right: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.personal-care .product-card .product, .home-decor .product-card .product {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.personal-care .product-card .product .product-image, .home-decor .product-card .product .product-image {
  width: 241px;
  height: 300px;
  border-radius: 7px;
  margin: auto;
}
.personal-care .product-card .product .product-name, .home-decor .product-card .product .product-name {
  text-align: left;
  margin-left: 40px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 23px;
}
.personal-care .product-card .product .product-detail, .home-decor .product-card .product .product-detail {
  margin-top: 5px;
  margin-left: 40px;
  max-width: 80%;
  font-weight: 400;
  font-size: 18px;
}

.home-decor .product-card {
  background-color: #BABD8D;
  color: #FFFFFF;
}

.titles-h2-2 {
  font-size: 35px;
  font-weight: 500;
  margin-top: 80px;
  margin-bottom: 50px;
}

.about-us div {
  max-width: 890px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto;
  color: #E86424;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 10px 0 10px;
}
.about-us div img {
  width: 120px;
}

.gallery-images {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}
.gallery-images img {
  width: 396px;
  height: 398px;
  border-radius: 16px;
}

.location {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 50px;
}
.location .location-map {
  width: 100%;
  padding: 0px 50px;
}
.location p {
  color: #E86424;
}
.location .location-p1 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 55px;
}
.location .location-p2 {
  font-size: 15px;
  margin-left: 62px;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: 315px;
  color: white;
}
footer div {
  margin-left: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
footer div h4 {
  padding: 30px 0 20px;
  font-size: 1.3rem;
  font-weight: 400;
}
footer div a {
  padding: 10px 0;
  font-size: 0.9rem;
  width: 15px;
  cursor: pointer;
}
footer div a:hover {
  text-decoration: underline;
}
footer div .social-media {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  gap: 22px;
  margin-top: 20px;
}
footer div .social-media img {
  width: 30px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */